.comic__relatedEntities{
    display: flex;
    justify-content: space-around;
}
.comic__characters {
    max-height: 600px;
    overflow: scroll;
}
.comic__stories {
    max-height: 600px;
    overflow: scroll;
}